<%- include ('templates/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h3> Author List [select options to play around] </h3>
        <a class='btn btn-primary' href='/home'>Home</a>
    </div>
    
    <%if(!quotes){%>
        <h3>There is no quote | <a href='/author/<%=authorId%>/quotes/new'>New Quote</a></h3>
    <%}
    else{%>
        <h3>Quotes from <%=name%> | <a href='/author/<%=authorId%>/quotes/new'>New Quote</a></h3>
        <ul>
            <%quotes.forEach(function(q){%>
                <li>
                    <%=q.quote%></br>
                    &nbsp;&nbsp;<a href='/author/<%=authorId%>/quotes/<%=q.quoteId%>/edit'>Edit</a> | <a href='/author/<%=authorId%>/quotes/<%=q.quoteId%>/delete'>Delete</a>
                </li>
            <%});%>
        </ul>
    <%}%>
</div>

<%- include ('templates/footer'); -%>